// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #272A43;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #7BE0C3;
$coral: #E0C5C5;
$gray: #0E0000;
$purple: #8447FF;
$light-gray: #F4F4F4;
