// Specific CSS for your home-page
$margin-side: 10rem;

//-----------------------------//
//         GLOBAL CSS          //
//-----------------------------//

#about-me-section,
#hobbies-section,
#resume,
#my-services-section {
  margin: 5rem $margin-side;
}

h4.title-section {
  display:table;
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 3rem;
  font-weight:bold;
  box-shadow: 0px -1rem 0px -12px $blue;
}

//-----------------------------//
//         BANNER CSS          //
//-----------------------------//

#banner {
  display:flex;
  justify-content:left;
  align-items:flex-start;
  background-color: $green;
  padding: 5rem $margin-side;
  img {
    box-shadow: 0 10px 20px 5px rgba(0,0,0, 0.2);
    max-width:30%;
    border-radius:50%;
    animation: moovImage 10s infinite ease;
  }
}

    #banner--inside {
      flex-grow: 2;
      text-align:center;
      h2 {
        font-size:4rem;
        font-weight:bold;
        margin:3rem 0 1rem 0;
      }
      .main-button {
        margin: 2rem auto;
        width:40%;
      }
    }

    .slash-bar {
      border-left: 1px solid $black;
      padding-left: 1.1rem;
      margin-left:1rem;
    }


//-----------------------------//
//     ABOUT-SECTION CSS       //
//-----------------------------//

#about-me-section {
  text-align:center;
  p {font-size: 1.3rem;}
}

#hobbies-section {
  margin: 8rem $margin-side;
}
    #container-card-hobbies {
      margin: 5rem 0;
      display:flex;
      flex-wrap:wrap;
      justify-content:center;

    }
    #container-card-hobbies span {
      margin: 1rem;
    }

//-----------------------------//
//     RESUME-SECTION CSS      //
//-----------------------------//

#resume {
  .label {
    display:table;
    margin: 3rem auto;
  }
}

    .tree-item {
      width:50%;
      padding:1rem 2rem;
      position:relative;
      &.right {
        margin-left:auto;
        transform:translate(-2px, 0);
        text-align:start;
        border-left:2px solid $blue;
        .bubble-tree-item--experience,
        .bubble-tree-item--education {
          left:-12.7px;
        }
      }
      &.left {
        margin-right:auto;
        text-align:end;
        border-right:2px solid $blue;
        .bubble-tree-item--experience,
        .bubble-tree-item--education {
          right:-12.7px;
        }
      }
    }
    .bubble-tree-item--experience {
      position:absolute;
      top:-2px;
      width:1.5rem;
      height:1.5rem;
      border-radius:50%;
      background-color:$green;
    }

    .bubble-tree-item--education {
      position:absolute;
      top:0;
      width:1.5rem;
      height:1.5rem;
      border-radius:50%;
      background-color:$coral;
    }

    .tree-item--title {
      text-transform: uppercase;
      font-size:1.1rem;
      color:$blue;
      font-weight:bold;
    }

    .tree-item--subtitle {
      color:rgba($gray,0.8);
      font-weight:lighter;
      padding-bottom: 0.5rem;
    }


//-----------------------------//
//     SERVICE-SECTION CSS     //
//-----------------------------//


#my-services-section {

}

#my-services-card-container {
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
  // flex: 0 0 35%;
}

li.star {
  display:inline;
}
.star svg {
  width:2rem;
  height:2rem;
  fill:$blue;
}
.star.empty svg {
  fill: $coral;
}


//-----------------------------//
//     FOOTER-SECTION CSS      //
//-----------------------------//

footer {
  display:flex;
  justify-content:space-between;
  align-items:start;
  padding: 2rem $margin-side;
  background-color: $blue;
  color:$white;
  p {
    margin: 0.5rem 0;
  }
}

#made-by,
footer li {
  display:inline;
  a {
    color:$white;
    &:hover {
      color:$white;
    }
  }
}

#link-site-thomas {
  text-decoration:underline;
}

//-----------------------------//
//          KEYFRAMES          //
//-----------------------------//

@keyframes moovImage {
  from {
    transform: translate(0, 0px)
  }
  33% {
    transform: translate(0, -10px)
  }
  66% {
    transform: translate(0, 10px)
  }
  to {transform: translate(0, 0px)}
}


//-----------------------------//
//        RESPONSIVENESS       //
//-----------------------------//


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {


  //-----------------------------//
  //         GLOBAL CSS          //
  //-----------------------------//


  html {
    font-size:55%;
  }

  #about-me-section,
  #hobbies-section,
  #resume,
  #my-services-section {
    margin: 5rem 2rem;
  }

  h4.title-section {
    box-shadow: 0px -1.8rem 0px -12px $blue;
  }

  //-----------------------------//
  //         BANNER CSS          //
  //-----------------------------//

  #banner {
    display:block;
    padding: 5rem 2rem;
    img {
      display:block;
      margin: 0 auto;
      max-width:60%;
    }
  }
  #banner--inside {
    .main-button {
      width:55%;
    }
  }

  //-----------------------------//
  //      ABOUT ME SECTION       //
  //-----------------------------//

  #about-me-section {
    p {font-size:1.5rem;}
  }

  .card-hobbies p {
    font-size: 1rem
  }

  //-----------------------------//
  //       RESUME SECTION        //
  //-----------------------------//

  .tree-item {
    width:90%;
    padding: 1rem 2rem 3rem 2rem;
    &.right {
      margin: 0 auto;
      border-left:2px solid $blue;
      &:not(.last){box-shadow: -5px 7px 0px -5px $blue;}
      .bubble-tree-item--experience,
      .bubble-tree-item--education {
        left:-9.7px;
      }
    }
    &.left {
      margin-right:auto;
      text-align:end;
      border-right:2px solid $blue;
      &:not(.last){box-shadow: 5px 7px 0px -5px $blue;}
      .bubble-tree-item--experience,
      .bubble-tree-item--education {
        right:-9.7px;
      }
    }
  }

  .bubble-tree-item--experience,
  .bubble-tree-item--education {
    width:2rem;
    height:2rem;
    top: -5px;
  }

  .tree-item--title {
    font-size:1.9rem;
  }

  .tree-item--subtitle {
    font-size:1.2rem;
  }
  .tree-item--body {
    font-size:1.2rem;
  }

  //-----------------------------//
  //       RESUME SECTION        //
  //-----------------------------//

  .card-my-services {
    min-width:90%;
    margin: 1rem auto;
  }

  //-----------------------------//
  //       RESUME SECTION        //
  //-----------------------------//

  footer {
    display:block;
    padding: 2rem;
    text-align:center;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) and (min-width: 400px){

  html {
    font-size:55%;
  }

  #about-me-section,
  #hobbies-section,
  #resume,
  #my-services-section {
    margin: 5rem 2rem;
  }

  h4.title-section {
    box-shadow: 0px -1.8rem 0px -12px $blue;
  }

  //-----------------------------//
  //         BANNER CSS          //
  //-----------------------------//

  #banner {
    display:block;
    padding: 5rem 2rem;
    img {
      display:block;
      margin: 0 auto;
      max-width:60%;
    }
  }
  #banner--inside {
    .main-button {
      width:55%;
    }
  }

  //-----------------------------//
  //      ABOUT ME SECTION       //
  //-----------------------------//

  #about-me-section {
    p {font-size:1.5rem;}
  }

  .card-hobbies p {
    font-size: 1rem
  }

  //-----------------------------//
  //       RESUME SECTION        //
  //-----------------------------//

  .tree-item {
    width:90%;
    padding: 1rem 2rem 3rem 2rem;
    &.right {
      margin: 0 auto;
      border-left:2px solid $blue;
      &:not(.last){box-shadow: -5px 7px 0px -5px $blue;}
      .bubble-tree-item--experience,
      .bubble-tree-item--education {
        left:-9.7px;
      }
    }
    &.left {
      margin-right:auto;
      text-align:end;
      border-right:2px solid $blue;
      &:not(.last){box-shadow: 5px 7px 0px -5px $blue;}
      .bubble-tree-item--experience,
      .bubble-tree-item--education {
        right:-9.7px;
      }
    }
  }

  .bubble-tree-item--experience,
  .bubble-tree-item--education {
    width:2rem;
    height:2rem;
    top: -5px;
  }

  .tree-item--title {
    font-size:1.9rem;
  }

  .tree-item--subtitle {
    font-size:1.4rem;
  }
  .tree-item--body {
    font-size:1.2rem;
  }

  //-----------------------------//
  //       RESUME SECTION        //
  //-----------------------------//

  .card-my-services {
    min-width:90%;
    margin: 1rem auto;
  }

  //-----------------------------//
  //       RESUME SECTION        //
  //-----------------------------//

  footer {
    display:block;
    padding: 2rem;
    text-align:center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and  (max-width: 1100px) and (min-width: 992px){

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {

}

