<div id="banner">
  <%= image_tag 'quentin.png', class:'avatar-large' %>
  <div id="banner--inside">
    <h2>Quentin Rodier</h2>
    <h4>Your role name <span>Your speciality</span></h4>
  </div>
</div>
<div id="about-me-section">
  <h4>About Me</h4>
  <p>Youg man, 25 yers old, looking for a work-study in an international company. Wishing to learn in the marketing or purchasing sector. My skills and qualities will make me a good learner.
  My experience in commerce, banking and human resources will be a plus.</p>
</div>
<div id="hobbies-section">
  <h4>Hobbies & Interests</h4>
  <ul>
    <li class="card-hoobies">Music</li>
    <li class="card-hoobies">Travel</li>
    <li class="card-hoobies">Cinema</li>
    <li class="card-hoobies">Hiking</li>
    <li class="card-hoobies">Basket</li>
    <li class="card-hoobies">Video Games</li>
    <li class="card-hoobies">Learning</li>
  </ul>
</div>
<div id="resume">
  <h6 class="label label-green">Experience</h6>
  <div class="tree">
    <div class="tree-item right">
      <p class="title">Apprentice Financial Advisor</p>
      <p class="subtitle">La banque postale 2019 - 2020</p>
      <p>Management of a customer portfolio, Sale of financial products, Advice and follow-up in real estate credit applications, realization of commercial action (targeter product sales), compliance with banking regulations.</p>
    </div>
    <div class="tree-item left">
      <p class="tree-item--title">Recruitement Officer</p>
      <p class="tree-item--subtitle">Formaposte Méditeraannée - 2019</p>
      <p>Duplicate work on an apprentice recruitment campaign for the La Poste group, Telephone appointments, Study of files then invitation to physical interviews, Mobilisation of juries, Reservation of rooms and restaurants. Geographical area: Nice, Orange, Lezignan Corbières, Marseille, Montpellier, Toulon.</p>
    </div>
    <div class="tree-item right">
      <p class="title">Commercial / Insertion officer</p>
      <p class="subtitle">Actual 2018 - 2019</p>
      <p>Commercial: Prospecting clients, Negotiation interviews, Management of key accounts, Management of a team of 8 peoples, Drawing up the week's plannings. Integration officer: Recruitment of temporary workers, Knowledge interviews, Administrative follow-up, File management</p>
    </div>
    <span class="icon wallet"></span>
  </div>
  <h6 class="label label-coral">Education</h6>
  <div class="tree">
    <div class="tree-item right">
      <p class="title">Master New Business Development Manager</p>
      <p class="subtitle">Rennes Business School 2020 - 2022</p>
      <p>Ths skills that will be registered here will depend on the learning society</p>
    </div>
    <div class="tree-item left">
      <p class="title">Licence commerce sales marketing (Bank option)</p>
      <p class="subtitle">CNAM 2019 - 2020</p>
      <p>Sales technique, Digital marketing, Monetary economy, Sales force, Organization management, Competitive intelligence, Customer relationship management, Banking technique I have learned to become a financial advisor who listens, complies with regulations, is skilled at selling products, and is a good listener. </p>
    </div>
    <!-- <div class="tree-item right">
      <p class="title">Commercial / Insertion officer</p>
      <p class="subtitle">Actual 2018 - 2019</p>
      <p>Commercial: Prospecting clients, Negotiation interviews, Management of key accounts, Management of a team of 8 peoples, Drawing up the week's plannings. Integration officer: Recruitment of temporary workers, Knowledge interviews, Administrative follow-up, File management</p>
    </div> -->
    <span class="icon hat"></span>
  </div>
</div>
<div id="my-services-section">
  <h4>My services</h4>
  <div id="my-services-card-container">
    <div class="card-my-services">
      <ul>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star empty"></li>
      </ul>
      <p class="title">Customer Relationship</p>
      <p>Customer relationship development, customer satisfaction, loyalty building</p>
    </div>
    <div class="card-my-services">
      <ul>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star empty"></li>
      </ul>
      <p class="title">Advise</p>
      <p>Agility with numbers, attention to detail, looking for the best solution</p>
    </div>
    <div class="card-my-services">
      <ul>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star empty"></li>
      </ul>
      <p class="title">Sales</p>
      <p>Customer-centric, sales skills</p>
    </div>
    <div class="card-my-services">
      <ul>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star empty"></li>
        <li class="star empty"></li>
      </ul>
      <p class="title">Marketing Development</p>
      <p>Data analysis, homepage assembly, creation of visuals (theoretical)</p>
    </div>
    <div class="card-my-services">
      <ul>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star empty"></li>
      </ul>
      <p class="title">Business Development</p>
      <p>Development of revenue, search for performance</p>
    </div>
    <div class="card-my-services">
      <ul>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star empty"></li>
      </ul>
      <p class="title">Agility</p>
      <p>Adaptability</p>
    </div>
  </div>
</div>
<footer>
  <h4>We get in touch boyzzzz</h4>
</footer>
